<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>

<table class="table table-sm table-bordered table-hover table-responsive pretty">
	<thead class="thead-default">
		<tr>
			<!-- <th>#</th> -->
			<th><%= sortable "lastname", "Last name" %></th>
			<th><%= sortable "firstname", "First name" %></th>
			<th><%= sortable "middle", "Middle Initial" %></th>
			<th><%= sortable "pet", "Pet" %></th>
			<th><%= sortable "birthday", "Birthday" %></th>
			<th><%= sortable "color", "Favorite Color" %></th>
		</tr>

	</thead>

	<% index = 0 %>
	<% @people.each do |people| %>
	<% index += 1 %>

	<tbody>
		<tr>
			<!-- <th scope="row"><%= index %></th> -->
			<td class="text-primary"><%= people.lastname %></td>
			<td class="text-primary"><%= people.firstname %></td>
			<td class="text-primary"><%= people.middle %></td>
			<td class="text-primary"><%= people.pet %></td>
			<td class="text-primary"><%= people.birthday %></td>
      <td class="text-primary"><%= people.color %></td>
		</tr>
	</tbody>
	<% end %>
</div>

<%= will_paginate @people %>
