<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>
<table class="table table-hover">
	<thead>
		<tr>
			<!-- <th>#</th> -->
			<th><%= sortable "lastname", "Last name" %></th>
			<th><%= sortable "firstname", "First name" %></th>
			<th><%= sortable "middle", "Middle Initial" %></th>
			<th><%= sortable "pet", "Pet" %></th>
			<th><%= sortable "birthday", "Birthday" %></th>
			<th><%= sortable "color", "Favorite Color" %></th>
		</tr>
	</thead>

  <tbody>
    <% @people.each do |people| %>

      <tr>
        <td><%= people.lastname %></td>
        <td><%= people.firstname %></td>
        <td><%= people.middle %></td>
        <td class="pet-td">
          <% if ['cat', 'c'].include?(people.pet.downcase) %>
            <%= image_tag "cat.png" %>
						<%= content_tag(:span, "Cat", class: 'cat', id: 'cat') %>
          <% elsif ['dog', 'd'].include?(people.pet.downcase) %>
            <%= image_tag "dog.png" %>
						<%= content_tag(:span, "Dog", class: 'dog', id: 'dog') %>
          <% elsif ['both', 'b'].include?(people.pet.downcase) %>
            <%= image_tag "both.png" %>
						<%= content_tag(:span, "Both", class: 'both', id: 'both') %>
					<% elsif ['none', 'n'].include?(people.pet.downcase) %>
							<%= content_tag(:span, "None", class: 'none', id: 'none') %>
					<% else %>
							 <%= people.pet %>
          <% end %>

        </td>
        <td class="date"><%= people.birthday.strftime("%m/%d/%Y")%></td>
        <td><%= people.color %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @people %>
