<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>

<table class="table table-hover">
	<thead>
		<tr>
			<!-- <th>#</th> -->
			<th><%= sortable "lastname", "Last name" %></th>
			<th><%= "First name" %></th>
			<th><%= "Middle Initial" %></th>
			<th><%= "Pet" %></th>
			<th><%= "Birthday" %></th>
			<th><%= "Favorite Color" %></th>
		</tr>
	</thead>

	<% index = 0 %>
	<% @people.each do |people| %>
	<% index += 1 %>

	<tbody>
		<tr>
			<!-- <th scope="row"><%= index %></th> -->
			<td><%= people.lastname %></td>
			<td><%= people.firstname %></td>
			<td><%= people.middle %></td>
			<td><%= people.pet %></td>
			<td><%= people.birthday %></td>
      <td><%= people.color %></td>
		</tr>
	</tbody>
	<% end %>
</div>

<%= will_paginate @people %>
