<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>

<table class="table table-hover">
	<thead>
		<tr>
			<!-- <th>#</th> -->
			<th><%= sortable "lastname", "Last name" %></th>
			<th><%= sortable "firstname", "First name" %></th>
			<th><%= sortable "middle", "Middle Initial" %></th>
			<th><%= sortable "pet", "Pet" %></th>
			<th><%= sortable "birthday", "Birthday" %></th>
			<th><%= sortable "color", "Favorite Color" %></th>
		</tr>
	</thead>

  <tbody>
    <% @people.each do |people| %>
      <tr>
        <td><%= people.lastname %></td>
        <td><%= people.firstname %></td>
        <td><%= people.middle %></td>
        <td class="pet-td">
          <% if people.pet.downcase == 'cat' %>
            <%= image_tag "cat.png" %>
          <% elsif people.pet.downcase == 'dog' %>
            <%= image_tag "cat.png" %>
          <% elsif people.pet.downcase == 'both' %>
            <%= image_tag "both.png" %>
          <% end %>
          <%= people.pet %>
        </td>
        <td><%= people.birthday %></td>
        <td><%= people.color %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @people %>
