<div class="">
  <div class="import-container">
    <p class="float-left people_number"><%= Person.count %> People</p>
    <div class="people-import">
      <%= form_tag import_people_path, id: 'people-upload', multipart: true do %>
        <p class="hidden-md-down float-left">Import a file</p>
        <%= file_field_tag :file, id: "choose-file", class: " btn btn-secondary btn-file" %>
        <%= submit_tag "Browse", id: "import-submit", class: "btn btn-info" %>
      <% end %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="person-list">
      <div id="person"><%= render 'people' %></div>
    </div>
  </div>
</div>
