<p id="notice"><%= notice %></p>

<p>
  <strong>Lastname:</strong>
  <%= @person.lastname %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @person.firstname %>
</p>

<p>
  <strong>Middle:</strong>
  <%= @person.middle %>
</p>

<p>
  <strong>Pet:</strong>
  <%= @person.pet %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @person.birthday %>
</p>

<p>
  <strong>Color:</strong>
  <%= @person.color %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
